<div id="signin_or_signup_content">
<h3 id="signin_or_signup_message">You'll need to sign up or sign in to do that</h4>
<div class="signup overlay_form divide">
<h4>Sign Up</h4>
<%= render "devise/registrations/sign_up_form"%>
</div>
<div class="signin overlay_form">
<h4>Sign In</h4>
<%= render "devise/sessions/sign_in_form" %>
</div>
<div class="clear"></div>
</div>