<div id="ballot">

<div id="ballot_area">
<% if rand(2) == 0 %>
<%= render 'ballot_animal_area', :winner => match.opponent_1, :loser => match.opponent_2, :side => "left" %>
<div id="vs">vs.</div>
<%= render 'ballot_animal_area', :winner => match.opponent_2, :loser => match.opponent_1, :side => "right"%>
<% else %>
<%= render 'ballot_animal_area', :winner => match.opponent_2, :loser => match.opponent_1, :side => "left" %>
<div id="vs">vs.</div>
<%= render 'ballot_animal_area', :winner => match.opponent_1, :loser => match.opponent_2, :side => "right"%>
<% end %>

</div>
<h2 id="who_will_win">
Who Would Win?
</h2>

<% if Rails.application.config.comments_enabled %>
<div id="toggle_comments">
<span id="throbber_area">
</span>
</div>
</div>
<% end %>

<script type="text/javascript">
function animalLabel_mouseOver(animalID) {
	$(".animal_area." + animalID + " .animal_image").css("border", "#FFCC11 solid 2px");
}

function animalLabel_mouseOut(animalID) {
	$(".animal_area." + animalID + " .animal_image").css("border", "");
}

</script>
