<% if show_comments %>
<div id="comments_content_wrapper">
	<div id="comments_content">
	<%= render "ballot_comment_contents", :match => match %>
</div>
</div>

<% else %>

<div id="comments_content_wrapper" style="display: none;">
	<div id="comments_content"></div>
</div>

<% end %>