#content_area_wrapper_rankings {
	border-radius: 20px;
	margin: 0px auto;
    text-align: left;
	background-color: white;
	width: 560px;
	padding-left: 40px;
	padding-right: 40px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-bottom: 15px;
}

.ranked_animal_row {
	width: 500px;
	height: 180px;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
}

.ranked_animal_figure {
	display: inline-block;
	text-align: center;
	height: 180px;
}

.ranked_animal_figure img {
	height: 150px;
}