#main_stats_content {
	text-align: left;
	display: inline;
}
#stats_figure {
	display: inline-block;
	margin: 16px;
	font-size: 18px;
	font-style: bold;
	text-align: center;

}

#stats_infotext {
	display: inline-block;
	margin: 16px;
	text-align: left;
	vertical-align: top;
}

#stats_infotext p {
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 16px;
	max-width: 250px;
}

.stats .animal_img {
	width: 235px;
	height: 188px;
}