#toggle_comments{
	text-align: center;
}

#throbber_area {
	width: 20px;
	height: 20px;
}

#comments_container {
	text-align: center;
}

.content_and_metadata {
	display: inline-block;
	width: 240px;
	padding-left: 6px;
}

.content {
	text-align: left;
	display: inline-block;
}

.comment {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 0;
	text-align: left;
}

#comments_content {
	padding: 12px;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

.comment_text {
	display: inline-block;
	text-align: left;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 240px;
}

.vote_button_area {
	display: inline-block;
	width: 48px;
	text-align: center;
	margin-left: 16px;
}

.comment .metadata {
	text-align: left;
}

.comment .user_name {
	font-weight: bold;
	font-size: 12px;
	color: #333;
}

.comment .time {
	color: gray;
	font-size: 12px;
}

.animal_area_verticaltastic_wrapper {
	position: relative;
}




.vote_button {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.voted_up {
	background-image: url("/images/likebutton2.png");
	width: 30px;
	height: 26px;
}

.no_vote {
	background-image: url("/images/likebutton2_notactive.png");
	width: 30px;
	height: 26px;
}

#comments_content_wrapper {
	background-color: #E5E185;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}



.comments_link {
	display: block;
	margin: 8px;
	width: 150px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#add_comment_box {
	width: 320px;
	max-height: 50px;
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: left;
}
#add_comment_box textarea {
	width: 247px;
	height: 48px;
}

#add_comment_box input {

	width: 50px;
	height: 49px;
	position: relative;
	top: -20px;
	-webkit-appearance: button;
	margin: 0 0 0 16px;
	padding: 0;

}

.comments_area {
	margin-bottom: 24px;
}

.no.comments_area {
	margin-top: 16px;
}

.all.comments_area {
	margin-bottom: 0px;
}

#sign_in_to_comment_info {
	text-align: center;
}




