.ballot.content_area_wrapper {
	margin-bottom: 0px;
	background-image: url("/images/Speed_Lines.png");
}

@media (max-width: 660px) {
	.ballot.content_area_wrapper {
		background-image: url("/images/Speed_Lines_Vertical.png");
		background-size: 100% 100%;
		width: 95%;
		height: 100%;
		margin-top: 8px;
	}

	#who_will_win {
		margin-top: 44px;
	}

	#vs {
		top: 87px;
	}
}

@media (min-height: 600px) and (min-width: 600px) {
	.ballot.content_area_wrapper {
		height: 380px;
		background-size: 100% 100%;
	}
	#who_will_win {
		margin-top: 54px;
	}

	#vs {
		top: 87px;
	}
}


#ballot_content_area_bottom {
	background-color: #ffffbf;	
	margin-left: auto;
	margin-right: auto;
	max-width: 600px; /* see what you think of a larger one, like 1200px */
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
    margin-bottom: 36px;
	height: 32px;
}

#ballot_area {
	margin-top: 8px;
	position: relative;
	text-align: center;	
	margin: 16px;
}

.animal_area_verticaltastic_wrapper {
	display: inline-block;
	margin: 16px 16px 16px 16px;
	vertical-align: top;
	height: 170px;
}

#vs {
	font-size: 16px;
	font-weight: bold;
	display: inline;
	position: relative;
}

@media (max-width: 660px) {
#vs {
	display: block;
	position: static;
	top: -50px;
}
}

.animal_area {
	background-color: transparent;
	display :inline;
	text-align: center;
}

.animal_area input {
	margin: 0px;

	
}


.animal_image.left.facing_Left {
	 -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
       -ms-filter: "FlipH";
}

.animal_image.right.facing_Right {
	 -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}


.animal_area a {
	font-size: 30px;
	font-family: Komikax;
	cursor: pointer;
	color: black;
	position: relative;
	top: -35px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	color: #fffdcf;
	display: inline-block;
	width: 200px;
}

@media (max-width: 660px) {
	.animal_area a {
	z-index: 10;
	display: inline;
}

	.animal_area_verticaltastic_wrapper {
		display: block;
	}
	}

.animal_area a:hover {
	color: black;
	background: transparent;

}

.animal_image_form_real {
   margin-bottom: 16px;
}


@media (max-width: 660px) {
	.animal_image_form_real {
		margin-bottom: 12px;
	}
}

.animal_image {
	border: 2px solid black;
}

.animal_image:hover {
	border: #ffcc11 solid 2px;
}

.crazy_vert_align_hack_div {
}

#who_will_win {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
}