#ballot_results_sidebar {
	text-align: center;
	float: left;
	height: 250px;
	width: 128px;
	margin-top: 44px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.75);
box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.75);
	border-radius: 16px;
}

@media (min-width: 1061px) {
#ballot_results_sidebar {
	margin-left: 64px;
}
}

@media (max-width: 1060px) {
#ballot_results_sidebar {
	margin-left: 16px;	
}
}

@media (max-width: 925px) {
#ballot_results_sidebar {
	margin-left: 16px;	
	background-color: rgba(0,0,0,.5);
}
}






.results_animal {
	margin-bottom: 16px;
}

#picked_animal_header {
	font-weight: bold;
	color: #ffbf01;  /** #daad69**/
	margin: 8px;
	text-shadow: #222222 2px 2px 3px;
}



.results_animal img {
	height: 64px;
	width: 80px;
	margin-bottom: 8px;
}

.picked.results_animal img {
	box-shadow: 0px 2px 2px #111;
	border-color:  #ffbf01; /** rgba(225,225,133, 0.7); **/
	border-width: 2px; /** 8 **/
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
}

.not_picked.results_animal img {
	box-shadow: 0px 2px 2px #111;
	margin-left: auto;
	margin-right: auto;
}

#agree_text {
	color: #ffffbf;
	font-size: 12px;
	font-weight: bold;
}

#disagree_text {
	color: #ffffbf;
	font-size: 12px;
	font-weight: bold;
}

#no_prior_votes_text {
	color: #ffffbf;
	font-size: 12px;
	font-weight: bold;
}

.percentage_text {
	font-size: 12px;
	font-weight: bold;
}





