.battle.content_area_wrapper {
	margin-bottom: 0px;
}

#battle_content_area_bottom {
	background-color: #ffffbf;	
	margin-left: auto;
	margin-right: auto;
	max-width: 600px; /* see what you think of a larger one, like 1200px */
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
    margin-bottom: 36px;
	height: 16px;
}

#battle {
}

#battle_area {
	position: relative;
	text-align: center;	
}

.animal_area_verticaltastic_wrapper {
	display: inline-block;
	margin: 16px 16px 16px 16px;
}

#vs {
	font-size: 16px;
	font-weight: bold;
	display: inline;
	position: relative;
	top: -112px;
}

.animal_area {
	background-color: transparent;
	display :inline;
	text-align: center;
}

.animal_area input {
	margin: 0px;
}





.animal_area span {
	font-size: 18px;
	font-style: bold;
}

.animal_image_form_real {
   margin-bottom: 16px;
}

.animal_image {
}

.crazy_vert_align_hack_div {
}

#who_will_win {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}