.percentage_text {
	font-size: 12px;
	font-weight: bold;

}

#agree_text {
	color: #d8b94d;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 1px #111;
}

#disagree_text {
	color: #d8b94d;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 1px #111;
}

.animal_results {
	margin-bottom: 10px;
}
