<% if show_comments %>
<div id="comments_content_wrapper">
<div id="comments_content">
<%= render "matches/show_comments", :match => match, :comments => match.comments %>
</div>
</div>

<% else %>

<div id="comments_content_wrapper" style="display: none;">
	<div id="comments_content"></div>
</div>

<% end %>