<% if @previous_battle %>
<%= render 'battle_results', :previous_battle => @previous_battle %>
<% end %>

<div class="battle content_area_wrapper">
<div id="content_area">

<%= render 'battle', :battle => @battle %>

<%= render 'comments_area', :show_comments => comments_visibility_preference(), :match => @battle.match %>

<div id="content_area_footer">
</div>
</div>
</div>



