<h1 id="battle_header">New Battle!</h1>

<!--
<p id="magic_paragraph">I'm gonna get magic'ed up! </p>

<%= link_to "Get remote magic", {:action => "magic", :controller => "home"}, :remote => true, :class => "button-link" %>
<script type="text/javascript">

$(document).ready(function() {

  $('.button-link').bind('ajax:success', function(evt, data, status, xhr){
  	$('#magic_paragraph').html(xhr.responseText);
  });

});
</script>
-->

<h2 id="who_will_win">
Who will win?
</h2>

<%= render 'form' %>
<h2 id="both_are_totally_enraged">
Both are totally enraged.
</h2>




<%= link_to 'Back To Rankings', index_ranked_animals_path %>
